.friend_list {
    margin-right: auto;
        margin-left: auto;
}

.item {
    display: flex;
    width: 300px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    justify-content: left;
    border: 2px solid gray;
    border-radius: 4px;
    box-shadow: 5px 5px 19px -1px #000000;
    background-color: rgb(187, 181, 181);
}

.box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}

.status {
    display: block;
    margin-right: 0;
    margin-right: 30px;
    margin-bottom: 35px;
    align-content: flex-start;
    width: 20px;
    height: 20px;

    /* color: ${({ eventOnline, theme })=> {
                return eventOnline ? theme.colors.green: theme.colors.red;
            }
        }; */
    border-radius: 50%;
}

.avatar {
    display: inline;
    margin-right: 20px;
    padding: 0;
}

.name {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}