.title {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
}

.stat__list {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 25px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 19px -1px #000000;
}

.item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 20px 20px;
    border: 1px solid gray;
}

.label {
    margin-bottom: 10px;
    font-size: 20px;
    color: gray;
    display: block;
}

.percentage {
    font-size: 20px;
    font-weight: 700;
    display: block;
}